.changePage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
}

.changePage * + *{
    margin-left: 1em;
}

.changePage p {
    color: var(--bg-dark);
}

button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}
