.option {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    background: var(--bg-primary);
    padding: 3em 1.5em;
    margin-bottom: 2em;
    border-radius: 0.7em;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.title {
    font-size: 1.1em;
    margin-bottom: 0.3em;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.option * + * {
    margin-top: 1.2em;
}

@media screen and (max-width: 700px) {
    .option {
        display: none;
    }
}


